body{
  font-weight: bold;
  background-color: #DCDCDC;
}

header h1{
  text-align: center;
  background-color: white;
  width:100%;
  height:200px;
  line-height:200px;
  margin-bottom:50px;
  border:2px double #FF9872;
}
main{
  width:500px;
  background:#336600;
  padding: 20px;
  border:5px solid white;
  border-radius:5px;
  margin:50px auto;
  display:flex;
  justify-content: space-between;
}

.panel img{
  width:150px;
  height:200px;
  margin-bottom:5px;
}

.btn{
  cursor:pointer;
  width:150px;
  height:32px;
  background:red;
  box-shadow:0 4px 0 #d1483e;
  border-radius:16px;
  line-height:32px;
  text-align:center;
  color:white;
  user-select:none;
}
#spin{
  cursor:pointer;
  width:200px;
  height:40px;
  background:#9900FF;
  box-shadow:0 4px 0 #9900CC;
  border-radius:18px;
  line-height:40px;
  text-align:center;
  color:white;
  font-size:16px;
  user-select:none;
  margin: 0 auto;
}
.unmatched{
  opacity:0.5;
}